*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.row
{
    background: white;
    border-radius: 30px;
    box-shadow: 12px 12px 22px;
}

.login img{
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
}

.login h1
{
    font-size: 4rem;
    font-weight: 700;
    font-family: 'Baloo Tammudu 2', cursive;
}

.inp
{
    height: 50px;
    width: 70%;
    border: none;
    outline: none;
    border-radius: 60px;
    -webkit-box-shadow: 5px 5px 12px 5px rgba(0,0,0,0.22); 
    box-shadow: 5px 5px 12px 5px rgba(0,0,0,0.22);
}

.btn1{
    height: 50px;
    width: 50%;
    border: none;
    outline: none;
    border-radius: 60px;
    font-weight: 600;
    background: rgb(190, 47, 47);
    color: white;
}

.btn1:hover{
    background: brown;
    transition: 0.5s;
}

.fa-facebook
{
    color: rgb(39, 39, 182);
    font-size: 2.5rem;
    cursor: pointer;
}

.fa-google
{
    color: rgb(209, 7, 24);
    font-size: 2.5rem;
    cursor: pointer;
}